/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: rgb(225, 207, 241);
  font: 15.34px Gentium Book Basic, serif;
  color: rgb(22, 22, 22);
  *font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1 {
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
}

a {
  color: rgb(0, 0, 0);
}

a:hover {
  color: rgb(89, 120, 187);
}

a:visited {
  color: rgb(58, 58, 58);
}

table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

  ul.posts li {
    line-height: 1.75em;
  }

  ul.posts span {
    color: rgb(43, 43, 43);
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
  }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 125%;
  text-align: justify;
  width: 46em;
  margin: 3em auto 2em auto;
  line-height: 1.5em;
}

.title {
  width: 100vw;
  height: 20vh;
  position: relative;
  left: 50%;
  right: 50%;
  margin: auto -50vw 2em -50vw;
  text-align: center;
  background-color: rgb(59, 50, 136);
  color: rgb(255, 255, 255);
  font-weight: bold;
}

  .site .title a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 150%;
  }

  .site .title a:hover {
    color: rgb(163, 57, 92);
  }

  .site .title a.extra {
    color: rgb(48, 48, 48);
    text-decoration: none;
    margin-left: 1em;
  }

  .site .title a.extra:hover {
    color: rgb(58, 58, 58);
  }

  .site .meta {
    color: rgb(102, 102, 102);
  }

  .site .footer {
    font-size: 80%;
    color: rgb(48, 48, 48);
    border-top: 4px solid rgb(36, 36, 36);
    margin-top: 2em;
    overflow: hidden;
  }

    .site .footer .contact {
      float: left;
      margin-right: 3em;
    }

      .site .footer .contact a {
        font-weight: bold;
        text-decoration: none;
      }

    .site .footer .rss {
      margin-top: 1.1em;
      margin-right: -.2em;
      float: right;
    }

      .site .footer .rss img {
        border: 0;
      }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {

}

  /* standard */

  #post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
  }

  #post ul,
  #post ol {
    margin-left: 1.35em;
  }

  #post code {
    border: 1px solid #ddd;
    background-color: #eef;
    font-size: 85%;
    padding: 0 .2em;
  }

    #post pre code {
      border: none;
    }

  #post img {
    max-width: 42em;
    padding: 1em 0;
  }

  /* terminal */

  #post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
  }

  #post pre.terminal code {
    background-color: #333;
  }

#related {
  margin-top: 2em;
}

  #related h2 {
    margin-bottom: 1em;
  }
