<!DOCTYPE html>

<html>
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="murray campbell" />

   <!-- Base CSS -->
   <link rel="stylesheet" href="{{site.baseurl}}/assets/css/sanitize.css" type="text/css" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="{{site.baseurl}}/assets/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="{{site.baseurl}}/assets/css/screen.css" type="text/css" media="screen, projection" />

   <!-- Google Fonts -->
   <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet"> 
</head>
<body>

<div class="site">
  <div class="title">
    <a href="{{site.baseurl}}/">love, gran</a>
  </div>

  {{ content }}

  <div class="footer">
    <div class="contact">
      <p>
        Ⓒ 2019 murray campbell
      </p>
    </div>
  </div>
</div>

</body>
</html>